:host {
    display: flex;
    flex-direction: column;
}

.assortmentImg {
    max-height: 150px;
}

p.outOfStock {
    color: red;
}

p.limitedStock{
    color: orange;
}

p.inStock{
    color: green;
}

p.availableForPreorder{
    color: #1b98a8;
}